/* src/styles/form.css */
.form-container {
  max-width: 800px;
  width: 95%;
  margin: 20px auto;
}

.form-buttons {
  display: flex;
  gap: 10px;
}

@media (max-width: 600px) {
  .form-buttons {
    flex-direction: column; /* Botões um em cima do outro */
  }
  .form-content {
    padding: 20px;
  }
  .form-header h1 { font-size: 22px; }
}